
{% extends 'base.html' %}
{% load  static %}

{% block content%}
    <br><br>
<div class="container">



{% if messages %}
    <div>
        {% for message in messages %}
        <div class="alert alert-{{ message.tags }}">
         {{ message }}
         </div>
        {% endfor %}
    </div>
{% endif %}


<a class="btn btn-primary" href="{% url 'post_create' %}">Create New Post</a>
<hr>

<div class="row row-cols-1 row-cols-md-3 g-4">

    {% for post in posts %}
    <div class="col">
        <div class="card h-100 text-end shadow-sm">

            {% if post.image %}
                <img src="{{ post.image.url }}" class="card-img-top" alt="{{ post.title }}">
            {% endif %}

            <div class="card-body">
                <h5 class="card-title">{{ post.title }}</h5>
                <p class="card-text">
                    {{ post.content|truncatewords:10 }}
                </p>

                <a href="{% url 'post_detail' post.pk %}" class="btn btn-primary btn-sm">عرض</a>
                 {% if request.user == post.author %}
                
                <a href="{% url 'post_update' post.pk %}" class="btn btn-warning btn-sm">تعديل</a>
             {%endif %}
            </div>

            <div class="card-footer text-muted">
                {{ post.created_at|date:"Y-m-d" }}
            </div>

        </div>
    </div>
    {% endfor %}

</div>





</div>

<nav aria-label="Page navigation" class="mt-4">
    <ul class="pagination justify-content-center">

      <!-- Previous -->
      {% if page_obj.has_previous %}
        <li class="page-item">
          <a class="page-link" href="?page={{ page_obj.previous_page_number }}">السابق</a>
        </li>
      {% else %}
        <li class="page-item disabled">
          <span class="page-link">السابق</span>
        </li>
      {% endif %}

      <!-- Page numbers -->
      {% for num in page_obj.paginator.page_range %}
        {% if page_obj.number == num %}
          <li class="page-item active">
            <span class="page-link">{{ num }}</span>
          </li>
        {% else %}
          <li class="page-item">
            <a class="page-link" href="?page={{ num }}">{{ num }}</a>
          </li>
        {% endif %}
      {% endfor %}

      <!-- Next -->
      {% if page_obj.has_next %}
        <li class="page-item">
          <a class="page-link" href="?page={{ page_obj.next_page_number }}">التالي</a>
        </li>
      {% else %}
        <li class="page-item disabled">
          <span class="page-link">التالي</span>
        </li>
      {% endif %}

    </ul>
  </nav>


  
{% endblock %}